@font-face {
  font-family: "iconfont"; /* Project id 3644938 */
  src: url('//at.alicdn.com/t/c/font_3644938_155qw5i69gw.woff2?t=1663285686466') format('woff2'),
       url('//at.alicdn.com/t/c/font_3644938_155qw5i69gw.woff?t=1663285686466') format('woff'),
       url('//at.alicdn.com/t/c/font_3644938_155qw5i69gw.ttf?t=1663285686466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanxianguanli:before {
  content: "\e600";
}

.icon-shangpinguanli:before {
  content: "\e607";
}

.icon-dingdanguanli:before {
  content: "\e627";
}

.icon-shujutongji:before {
  content: "\e609";
}

.icon-a-icon-person-nan2:before {
  content: "\e606";
}